<div>
    <p style="font-family:&quot;Arial&quot;,sans-serif;">Kind Regards</p>
    <h5 style="font-family:&quot;Arial&quot;,sans-serif;font-size: 16px;">Richard Mack<br>
        Managing Director<br>
        <span style="color: #7030A0;">Tel:</span> 01202 882893
    </h5>
    
    <img border="0" style=" margin-bottom: 23px;" src="img/im.png">
    
    <p style="font-family:&quot;Arial&quot;,sans-serif;font-size: 16px; margin-bottom: 25px;">Unit 14 – Freeland Park | Wareham Road | Lytchett Matravers | Poole | Dorset | BH16 6FH</p>

 
    <p style="font-family:&quot;Arial&quot;,sans-serif;font-size: 16px;">Why not follow and connect with us on any of the following social media platforms?</p>
    
    <div>
        <span style="margin-right: 20px;">
          <a href="#" style="text-decoration: solid;color: black;font-size: 20px;">
          <img style="width: 17px;" src="img/twitter.png" class="img-responsive" alt="Image"> 
          <span style="font-family:&quot;Arial&quot;,sans-serif;font-size: 16px;">Twitter</span>
          </a>  
        </span>
        
         <span style="margin-right: 20px;">
          <a href="#" style="text-decoration: solid;color: black;font-size: 20px;">
          <img src="img/linkedin.png" style="width: 17px;" class="img-responsive" alt="Image"> 
          <span style="font-family:&quot;Arial&quot;,sans-serif;font-size: 16px;">LinkedIn</span>
          </a>  
        </span>
        
         <span style="margin-right: 20px;">
          <a href="#" style="text-decoration: solid;color: black;font-size: 20px;">
          <img style="width: 17px;" src="img/facebook.png" class="img-responsive" alt="Image"> 
          <span style="font-family:&quot;Arial&quot;,sans-serif;font-size: 16px;">Facebook</span>
          </a>  
        </span>
        
          <span style="margin-right: 20px;">
          <a href="#" style="text-decoration: solid;color: black;font-size: 20px;">
           <img style="width: 17px;" src="img/instagram.png" class="img-responsive" alt="Image"> 
           <span style="font-family:&quot;Arial&quot;,sans-serif;font-size: 16px;">Instagram</span>
           </a>  
        </span>
        
        
    </div>
     <br>
     <br>
    <img border="0" src="img/bpma.jpg">
    <br>
     <br>
       <br>
    <small style="font-size:7.5pt;font-family:&quot;Arial&quot;,sans-serif;color:#666666">
        The information in this email is confidential and may be legally privileged. It is intended solely for the addressee. Access to this email by anyone else is unauthorised. If you are not the intended recipient, any disclosure, copying, distribution or any action taken or omitted to be taken in reliance on it, is prohibited and may be unlawful. RT Promotions have a strict policy of using up to date virus and malware checkers but because of the nature of the Internet you are advised to run your own checks. RT Promotions is the trading name of RT Ideas Ltd. Registered in England No. 06060336. Registered Office: Unit 14 – Freeland Park, Wareham Road, Lytchett Matravers, Poole, Dorset, BH16 6GH.
    </small>
    
</div>

